.container.gallery-container {
    min-height: 100vh;
}

/* Override bootstrap column paddings */
.gallery .row > div {
    padding: 0px;
}

.gallery {
/*    margin: 0 -5px;*/
}

.gallery .lightbox,
.pagelink {
    position: relative;
    display: block;
    overflow: hidden;
}

.gallery .lightbox img,
.pagelink img {
    width: 100%;
    border-radius: 0;
    position: relative;
    transition: 1s;
    transform: scale(1);
}

.gallery .lightbox:hover img,
.pagelink:hover img{
    transition: 1s;
    transform: scale(1.2);
}

.gallery .caption {
    background-color: rgba(10, 10, 10, 0.4);
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 15px;
    text-align: left;
    opacity: 0;
    color: #fff;
    z-index: 9;
    transition: 0.2s;
}

.gallery .caption * {
    flex-basis:100%;
}

.gallery .caption h4 {
/*    display: none;*/
    text-align: center;
    font-size: 1rem;
/*    font-weight: 300;*/
    padding-bottom: 10px;
    letter-spacing: 1px;

}

.gallery .caption p {
    margin:0;
    padding:0;
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
    font-variant-caps: small-caps;
}

.gallery .lightbox:hover .caption,
.pagelink:hover .caption {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}