.slider-wrapper {
    background-color: #ccc;
    background-image: url("../img/bg1.jpg");
    padding: 0;
    }

.carousel {
    padding: 50px 0;
    }

.carousel-item {
/*    padding: 0 30px;*/
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #444;
    width: 12%;
    max-width: 48px;
    max-height: 48px;
    top: 42%;
}

.carousel-control-prev {
    border-radius: 0 50% 50% 0;
}

.carousel-control-next {
    border-radius: 50% 0 0 50%;
}

/* Для екранів шириною менше 767px */
/* мінімальна висота слайдера      */
/* рівну висоті viewport 100vh     */

@media screen and (max-width:767px) {
    
    .slider-wrapper {
        min-height: 100vh;
    }
}